@model ShisheVere.Models.Orders

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Order</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shishe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shishe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefoni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>


    </dl>

    @using (Html.BeginForm("DeleteOrder", "ShoppingCart", FormMethod.Post, new { id = Model.id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "ShoppingCart")
        </div>
    }
</div>